{% extends 'TemplateBundle:Layout:backpage.html.twig' %}



{% block content %}
    {{ form_start(form) }}
    {{ form_end(form) }}
<center><h1>Liste des refuges</h1>
    <div class="box-body">
        <style type="text/css">
            table{border-collapse: collapse;width: 40%;font-size: 10pt;} table,th,td{border:1px solid rgb(88, 111, 45);} th{background:rgb(88, 111, 45);color: white;}
        </style>
        <table id="example2" class="table table-bordered table-hover">
            <thead>
            <th>id</th>
            <th>Libelle</th>
            <th>Adesse</th>
            <th>Numéro</th>
            <th>Région</th>
            <th>Supprimer || Modifier</th>
            </thead>
            <tbody>
            {% for refuge in refuges  %}
                <tr><td>{{  refuge.id}}</td>
                    <td>{{  refuge.libelle }}</td>
                    <td>{{  refuge.adresse }}</td>
                    <td>{{  refuge.num }}</td>
                    <td>{{  refuge.region }}</td>
                    <td><a href="{{ path('supprimer_refuge',{'id':refuge.id}) }}" class='btn btn-default' >X</a>
                        <a href="{{ path('modifier_refuge',{'id':refuge.id}) }}" class='btn btn-default'><i class='fa fa-pencil-square-o'></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
