
{% embed '@Template/Layout/single.html.twig' %}
    {% block product %}
        {% for animal in animals %}
    <div class="single">
<div class="container">
    <div class="col-md-9">
        <div class="col-md-5 grid">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="images/si.jpg">
                        <div class="thumb-image"> <img src="{{ asset('images/' ~ animal.image) }}" data-imagezoom="true" class="img-responsive"> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-7 single-top-in">
            <div class="span_2_of_a1 simpleCart_shelfItem">
               <!--Titre--> <h3>{{ animal.nom }}</h3>
                <!--Sous Title--> <p class="in-para">Race {{ animal.race }}<br> Espece {{ animal.espece }} <br> Taille {{ animal.taille }} <br> Region {{ animal.region }} <br> Age {{ animal.age }} <br> Sexe {{ animal.sexe }} <br> Refuge {{ animal.idRefuge.libelle }} </p>
                <div class="price_single">
                    <span class="reducedfrom item_price" >Aidez {{ animal.nom }} a trouver une famille</span>
                    <!--Prix-->    <span class="reducedfrom item_price">{{ socialButtons( {'googleplus':false, 'twitter':false, 'linkedin':false, 'pinterest':false } ) }}</span>
                    <div class="clearfix"></div>
                </div>
                 <h4 class="quick">Description</h4>
                <!--Description--> <p class="quick_desc">{{ animal.description }} </p>

                <a href="{{ path('adopter',{'id':animal.id}) }}" class="add-to item_add hvr-skew-backward">Adopter</a>
                <a href="{{ path('afficherdetailRefuge',{'id':animal.idRefuge.id}) }}" class="add-to item_add hvr-skew-backward">Refuge</a>
                <div class="clearfix"> </div>
            </div>

        </div>
        <div class="clearfix"> </div>
        <!---->

            </div>
            <div class="clearfix"></div>
        </div>
        <!---->
    </div>
    <!----->


{% endfor %}
        {% endblock %}
        {% endembed %}

