Cet email est envoyé par  <b>{{ name }} {{ prenom }}</b> <br/>
<h3>Age: </h3> {{ age }} <br/>
<h3>Adresse: </h3> {{ adresse }} <br/>
<h1>Motivation: </h1> <br/>
<p>{{ motivation }}</p><br/>
<h4>l'adresse email  de contact est {{ email }}</h4>

-----
Merci