{% extends 'TemplateBundle:Layout:backpage.html.twig' %}

{% block  content%}
    <a href="{{ path('ajouter_categorie') }}" class="btn btn-default"><span>Ajouter</span></a>

    <center><h1>Liste Des Categories</h1>
    <div class="box-body">
    <style type="text/css">
        table{border-collapse: collapse;width: 40%;font-size: 10pt;} table,th,td{border:1px solid rgb(88, 111, 45);} th{background: rgb(74, 60, 219);color: white;}
    </style>
    <table id="example2" class="table table-bordered table-hover">

        <th>Id</th>
        <th>Libelle</th>
        <th>Supprimer || Modifier</th>



        </thead>
        <tbody>
        {% for cat in categories  %}
            <tr><td>{{  cat.id }}</td>
                <td>{{  cat.libelle }}</td>
                <td><a href="{{ path('supprimer_categorie',{'id':cat.id}) }}" class='btn btn-default'>X</a><a href="{{ path('modifier_categorie',{'id':cat.id}) }}" class='btn btn-default'><i class='fa fa-pencil-square-o'></i></a></td>
                <td> </td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}